<h1>Experience You Can Trust</h1>

	<p>		Richard Durr at Durrable Computer Technology has been helping local Indian River County companies and individuals with their computers since 1992. </p>
	
	<p>I’ve owned my own company and I’ve worked for a number of different types of companies so I understand computers and the software necessary to make companies and individuals more productive. 
	I got my start with computers back in the mid-1980’s in Silicon Valley in California and I have been working with both Microsoft Windows as well as Apple Macintosh computer systems ever since.
	I thoroughly enjoy working with people to solve their computer problems and I have the patience and experience to solve problems.
	I’ll do my best to make you a happy client.</p>