<h1>Frequent Asked Questions</h1>
<p>
	This section will seek to answer your questions regarding all things relating to computers.  Hopefully, this will become a valuable resource in helping you get the most out of your computer experience.  Your feedback is welcome.
</p>