<div class='col-md-8'>
	<h1>Welcome</h1>
	<p> 
		“Computers are probably the most unfriendly devices that we have to deal with on a daily basis.”  “When computers are working correctly they are wonderful communication and information tools but when they aren’t, computers can be so frustrating.”  
	</p>
	<p>Please contact me and I can help you make your computer user experience productive and rewarding, not frustrating.
	</p>
</div>
<div class='col-md-2'>

</div>